<!-- <div class="main">
  <readapp-sidebar-perfil></readapp-sidebar-perfil>
<div class="contenedor-cartas">
<div *NgIf="libros.length === 0">
  <p>No has leído ningún libro aún.</p>
</div>

<div *NgIf="libros.length > 0">
    <h2>Libros que has leído</h2>
    
    <div class="grid-libros">
      Iterar sobre los libros y renderizar cada uno como una tarjeta -->
      
   

<div class="flex perfil_container">
  <h1>Libros leídos</h1>
  <section class="contenedor-cartas">
      <section class="grid-libros">
        
          
        
          @for (libro of libros; track libro) {
            <readapp-card-libro 
           
            [libro]="libro" 
            [modo]="'detalle'">
          </readapp-card-libro>
          }
        
      </section>
  </section>

  <div class="boton_container">
      <button class="boton_cancelar" type="submit">Cancelar</button>
      <button class="boton_guardar" type="submit">Guardar cambios</button>
  </div>
</div>