      <div class="flex perfil_container">
        <h1>Libros leídos</h1>
        <section class="flex lista_perfil">
          <section class="contenedor-cartas">
              <section class="grid-libros">
                @for (libro of libros; track libro; let i = $index) {
                  <readapp-card-libro (librosEnviados)="recibirLibros(libros)" [libro]="libro" [modo]="modo"></readapp-card-libro>
                }
                  <readapp-card-libro-mas (click) ="openModal()"></readapp-card-libro-mas>
              </section>
          </section>
        </section>
        <div class="boton_container">
            <button class="boton_cancelar" type="submit">Cancelar</button>
            <button class="boton_guardar" type="submit">Guardar cambios</button>
        </div>

        <!-- Modal -->
        <readapp-modal *ngIf="isModalOpen" 
          [isModalOpen]="isModalOpen" 
          (close)="closeModal()"
          (librosEnviados)="recibirLibros($event)"          >
        </readapp-modal>
      </div>
