.contenido-pagina {
    max-width: 130rem;
    margin: 0 auto;
    margin-top: 150px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .contenido-centrado-cartas {
    display: flex;
    flex-direction: column;
    align-content: center;
  }