<div class="flex perfil_container">
    <h1>Libros a leer</h1>
    <section class="flex lista_perfil">
      <section class="contenedor-cartas">
          @for (libro of librosALeer; track libro) {
            <readapp-card-libro [libro]="libro" [modo]="'edicion'" [esPerfil]="true" [tipoPerfil]="'aleer'" ></readapp-card-libro>
          }
          <readapp-card-libro-mas (openModalEvent) ="openModal()"></readapp-card-libro-mas>
      </section>
    </section>
    @if(this.isModalOpen){
      <readapp-modal [isModalOpen]="isModalOpen" (close)="closeModal()"></readapp-modal>
    }
</div>
