<readapp-header></readapp-header>
<readapp-barra-busqueda
    [showCheckBox] = "this.data.showCheckBox"
    (buscarPalabra)="buscar($event)"
></readapp-barra-busqueda>
<main class = "flex">
    <section class="grid-cartas">
        @for (recomendacion of recomendaciones; track recomendacion) {
            <readapp-card-recomendacion [recomendacion]="recomendacion" [puedeEditar]="this.puedeEditarRecomendacion(recomendacion)"></readapp-card-recomendacion>
        }
        <!-- <readapp-card-libro-mas
            [showCard] = "this.data.showCardMas"
        ></readapp-card-libro-mas> -->
    </section>
    
</main>
