* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    font-family: var(--fuente-default);
}

body {
    background-color: var(--color-secundario);
}

.contenedor-cartas{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 100px;
}

.carta{
    color: black;
    width: 325px;
    height: 150px;
    background-color:  var(--color-terciario);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin:10px;
}

.carta.mas{
    background-color:  var(--color-secundario);
}

contenido-carta{
    color: black;
    background-color:  red;
    padding: 10px;
    justify-content: center;
    margin: 10px;
}