:root {
    --color-letra-carta: white;
}

.contenedor-cartas {
    display: flex; 
    justify-content: center;
    align-items: center; 
    max-width: 217.29rem;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 1.25rem;
}

.carta {
    color: var(--color-letra-carta);
    width: 55rem;
    height: 27.5rem;
    background-color: var(--color-terciario);
    border-radius: 0.91rem;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.61rem rgba(0, 0, 0, 0.2);
    margin: 1.51rem;
    display: flex;
    align-items: center;
    padding: 1.51rem;
    position: relative;
}

.iconos-superior-derecha {
    width: 3.03rem;
    height: 3.03rem;
    position: absolute;
    top: 1.88rem;
    right: 2.5rem;
} 

.iconos-inferior-derecha {
    width: 3.03rem;
    height: 3.03rem;
    position: absolute;
    bottom: 1.88rem;
    right: 2.5rem;
} 

.iconos {
    width: 3.5rem;
    height: 3.5rem;
    transition: transform 0.3s ease;
}

.iconos:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.iconoschicos {
    vertical-align: middle;
    margin-right: 0.76rem;
    width: 3.13rem;
    height: 3rem;
}

.contenido-carta {
    color: var(--color-letra);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contenedor-imagen {
    flex-shrink: 0;
}

.imagen-libro {
    max-width: 17.5rem;
    max-height: 23.75rem;
    margin-top: 1.36rem;
    margin-left: 0.63rem;
}

.contenedor-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.51rem;
    flex-grow: 1;
}

.titulo-libro {
    font-size: 2.43rem;
    margin-bottom: 0.46rem;
}

.autor-libro {
    font-size: 2.13rem;
    color: var(--color-letra-carta-secundaria);
    margin-bottom: 1.51rem;
}

.detalles-libro {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.88rem;
    line-height: 1rem;
}

.detalles-libro li {
    display: flex;
    align-items: center;
    margin-bottom: 0.76rem;
}


@media only screen and (max-width: 400px) {
    .contenedor-cartas {
        display: flex; 
        justify-content: center;
        align-items: center; 
        max-width: 217.29rem;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 1.25rem;
    }
    
    .carta {
        color: var(--color-letra-carta);
        width: 100%;
        height: auto;
        background-color: var(--color-terciario);
        border-radius: 0.91rem;
        overflow: hidden;
        box-shadow: 0 0.3rem 0.61rem rgba(0, 0, 0, 0.2);
        margin: 1.51rem;
        display: flex;
        align-items: center;
        padding: 1.51rem;
        position: relative;
    }

    .contenido-carta {
        flex-direction: column;
        align-items: center;
    }

    .contenedor-imagen {
        margin-bottom: 1.51rem; 
    }

    .contenedor-texto {
        margin-left: 0; 
        text-align: left; 
    }

    .detalles-libro li {
        display: flex;
        align-items: center;
        margin-bottom: 0.76rem;
        line-height: 3rem;
    }
}
