:root {
    --color-letra-carta: white;
}

.contenedor-cartas {
    display: flex; 
    justify-content: center;
    align-items: center; 
    max-width: 173.83rem;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 9.68rem;
}

.carta {
    color: var(--color-letra-carta);
    width: 44rem;
    height: 22rem;
    background-color: var(--color-terciario);
    border-radius: 0.73rem;
    overflow: hidden;
    box-shadow: 0 0.24rem 0.49rem rgba(0, 0, 0, 0.2);
    margin: 1.21rem;
    display: flex;
    align-items: center;
    padding: 1.21rem;
    position: relative;
}

.iconos-superior-derecha {
    width: 2.42rem;
    height: 2.42rem;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
} 

.iconos-superior-derecha {
    width: 2.42rem;
    height: 2.42rem;
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
} 

.iconos {
    width: 3rem;
    height: 3rem;
    transition: transform 0.3s ease;
}

.iconos:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.iconoschicos {
    vertical-align: middle;
    margin-right: 0.61rem;
    width: 2.5rem;
    height: auto;
}

.contenido-carta {
    color: var(--color-letra);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contenedor-imagen {
    flex-shrink: 0;
}

.imagen-libro {
    max-width: 14rem;
    max-height: 19rem;
    margin-top: 1.09rem;
    margin-left: 0.5rem;
}

.contenedor-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.21rem;
    flex-grow: 1;
}

.titulo-libro {
    font-size: 1.94rem;
    margin-bottom: 0.37rem;
}

.autor-libro {
    font-size: 1.70rem;
    color: var(--color-letra-carta-secundaria);
    margin-bottom: 1.21rem;
}

.detalles-libro {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.50rem;
    line-height: 1.70;
}

.detalles-libro li {
    display: flex;
    align-items: center;
    margin-bottom: 0.61rem;
}
