.contenido-pagina {
    max-width: 125rem;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    position: relative; 
}

.icono-superior-derecha {
    position: absolute;
    top: 4rem;
    right: 0;
    transition: transform 0.3s ease;
}

.icono-superior-derecha:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.titulos {
    font-size: 3rem;
    text-align: left;
    margin-top: 2rem;
}

.titulos h2 {
    font-weight: bold;
}

.titulos.textoprincipal {
    font-size: 2rem;
    text-align: justify;
}

.titulos.valoraciones {
    display: flex;
    align-items: center; 
    gap: 2rem;
}

.titulos.titulos.valoraciones img {
    width: 4rem; 
    height: auto;
}

hr {
    margin-top: 5rem;
    border: 0;
    height: 0.3rem;
    background-color: black;
    width: 100%;
}

h4 {
    font-weight: normal; 
}

/*TABLETS (401px a 768px)*/
@media screen and (min-width: 401px) and (max-width: 768px) {
    .contenido-pagina {
        max-width: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        position: relative; 
    }
    .icono-superior-derecha {
        position: absolute;
        top: 4rem;
        right: 5rem;
    }

    hr {
        margin-top: 5rem;
        margin-right: auto;
        margin-left: auto;
        border: 0;
        height: 0.3rem;
        background-color: black;
        width: 90%;
    }

    .titulos {
        font-size: 3rem;
        text-align: left;
        margin-top: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

/*MOBILE (hasta 400px)*/
@media screen and (max-width: 400px) {
    .contenido-pagina {
        max-width: 100vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        position: relative; 
    }
    .icono-superior-derecha {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
    }

    .titulos {
        font-size: 2rem;
        text-align: left;
        margin-top: 4rem;
        margin-left: 2rem;
        margin-right: 2rem;
        line-height: 4rem;
    }

    .titulos h2 {
        font-weight: bold;
        font-size: 3rem;
    }


    .titulos.textoprincipal {
        font-size: 2rem;
        text-align: justify;
        line-height: 3rem;
    }


    hr {
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-right: auto;
        margin-left: auto;
        border: 0;
        height: 0.3rem;
        background-color: black;
        width: 90%;
    }
}

/***** VALORACIONES ******/

.carta-valoracion{
    color: var(--color-letra-carta);
    width: 55rem;
    height: 27.5rem;
    background-color: var(--color-secundario);
    border-radius: 0.91rem;
    box-shadow: 0 0.3rem 0.61rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;   
}

.text-opinion{
    color: black;
    padding: 2rem;
    width: 100%;
    height: 100%;
    text-align: justify;
}

.header-valoracion{
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.foto-autor{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px solid var(--color-cuarto);
    margin: 10px;
}

.autor-valoracion{
    display: flex;
    font-size: 1rem;
    justify-content: center;
    height: 100%;
}

.nombre-autor{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.puntuacion-valoracion{
    color: black;
    margin: 1rem;
    display: flex;
    align-self: flex-start;
    font-size: 1.5rem;
    }

.puntuacion-valoracion img{
    width: 2rem; 
    height: auto;
    margin-left: auto;
    align-items: start;
}