.main{
    display: flex;
    min-height: 100vh;
    flex: 0 0 200px;
    justify-content: center;
    gap: 18px;  
    
}
 
.info_usuario{
    display: flex;
    flex-direction: column; 
    min-width: 500px;
    max-width: 991px;
}

.fotoPerfil{
    text-align: center;
    margin-top: 70px;
    width: 450px;
    padding: 10px;
    padding-left: 60px;
}

.imagen_perfil{
    max-width: 150px; 
    max-height: 150px;
    border-radius: 80%;
}

.nombre_perfil{
  font-size: 2.5rem;
  align-items: center;
  text-align: center;
  font-weight: bold; 
  
}

.submenu_perfil{
    border-top: 1px solid #949090;
    margin: 35px 50px 100px 100px;
    margin-bottom: 5px;
    font-size: 1.8rem;
    padding: 8px;
    
}

.icono {
    display: flex;
    width: 25px;
    /* Ajusta el tamaño según sea necesario */
    max-width: 100%;
    max-height: 100%;
}

.boton_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1px;
    gap: 5px;
    padding: 4px;
}

.boton_menu a {
    font-style: var(--fuente-default);
    font-size: 1.9rem;
    text-decoration: none;
    color: #000000;
}

.boton_menu a:hover {
    font-weight: bold;
    color: var(--color-primario);

}

.boton_continer {
    display: flex;
    height: 50px;
    width: var(--ancho-default);
    justify-content: center;
    gap: 10px;
    margin-top: 90px;
    border-top: 1px solid #949090;
}

.boton_continer button{
    font-size: 1.2rem;
    width: 20%;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);
}

.boton_guardar {
    background-color: var(--color-primario);
    border: var(--color-primario);
    color: var(--color-secundario);
}

.boton_cancelar {
    background-color: var(--color-secundario);
    box-sizing: 2px;
    color: black;
    border: 1px solid #000000;
}

.boton_cancelar:active {
   
    background-color: #e7dbdb;
    transform: scale(0.98);
}

.boton_guardar:active {
   
    background-color: var(--color-terciario);
    transform: scale(0.98);
}
