* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primario: #785d56;
  --color-secundario: #eeeeee;
  --color-terciario: #c6b299;
  --color-cuarto: #fff4e3;
  --color-quinto: #e6d5c1;
  --fuente-default: "Baloo Da 2", serif;
  --ancho-default: 966px;
  --border-default: 1px solid var(--color-primario);
  --filtro-color-primario: invert(10%) sepia(58%) saturate(2088%) hue-rotate(171deg) brightness(93%) contrast(105%);
}

html {
  font-family: var(--fuente-default);
}

/* HEADER y BARRA DE BUSQUEDA*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff4e3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #785d56;
  padding: 10px 20px;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container i {
  font-size: 24px;
  margin-right: 10px;
}

.logo-container h1 {
  margin: 0;
  font-size: 24px;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile span {
  margin-right: 10px;
  font-size: 1em;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff4e3;
  margin: 10px;
}

.barra-busqueda-container {
  background-color: #e6d5c1;
  padding: 10px 20px;
}

.barra-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra-busqueda input[type="text"] {
  padding: 5px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  width: 80%;
}

.barra-busqueda button {
  background-color: #fff4e3;
  color: #3B5998;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.barra-busqueda button:hover {
  background-color: #c6b299;
}