* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-quinto);
}

.card-logIn {
  display: flex;
  justify-content: center;
  width: 38rem;
  height: 28rem;
  background-color: white;
  border-color: white;
  border-radius: 1.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

form {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.title-logIn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--color-primario);
}

.title-logIn img {
  width: 4rem;
  padding: 0.2rem;
}

.title-input {
  display: flex;
  font-size: small;
}

.title-input span {
  color: var(--color-sexto);
}

input {
  border-style: none;
}

.obligatorio-input {
  color: var(--color-sexto);
  font-size: 10px;
}

button {
  font-size: 1.2rem;
  width: 100%;
  height: 4rem;
  background-color: var(--color-primario);
  border: var(--color-primario);
  border-radius: 1rem;
  color: var(--color-secundario);
  margin-top: 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: var(--color-cuarto);
  color: var(--color-primario);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
  padding: 3px;
}

.container input {
  border-style: none;
  width: 100%;
  height: 25px;
  padding: 3px;
}
.container-input {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.container-input #user {
  border: 2px solid var(--color-sexto);
}

@media screen and (min-width: 769px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-quinto);
  }

  .card-logIn {
    display: flex;
    justify-content: center;
    width: 38rem;
    height: 28rem;
    background-color: white;
    border-color: white;
    border-radius: 1.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  form {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  .title-logIn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--color-primario);
  }

  .title-logIn img {
    width: 4rem;
    padding: 0.2rem;
  }

  .title-input {
    display: flex;
    font-size: small;
  }

  .title-input span {
    color: var(--color-sexto);
  }

  input {
    border-style: none;
  }

  .obligatorio-input {
    color: var(--color-sexto);
    font-size: 10px;
  }

  button {
    font-size: 1.2rem;
    width: 100%;
    height: 4rem;
    background-color: var(--color-primario);
    border: var(--color-primario);
    border-radius: 1rem;
    color: var(--color-secundario);
    margin-top: 2rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  button:hover {
    background-color: var(--color-cuarto);
    color: var(--color-primario);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 3px;
  }

  .container input {
    border-style: none;
    width: 100%;
    height: 25px;
    padding: 3px;
  }
  .container-input {
    display: flex;
    align-items: center;
    border: 1px solid black;
  }

  .container-input #user {
    border: 2px solid var(--color-sexto);
  }
}

@media screen and (min-width: 401px) and (max-width: 768px) {
  body {
    background-color: red;
  }
}

@media screen and (max-width: 400px) {
  body {
    background-color: white;
  }

  .card-logIn {
    width: 100%;
    /*CONSULTAR CÓMO HACER PARA QUE LA CARD
    ESTÉ EN TODO EL ALTO*/
    max-height: 100vh;
    box-shadow: none;
    flex-direction: column;
    justify-content: center;
  }
}
