<header class="header">
    <div class="logo-container">
      <img src="/imagenes/book-bold.svg" alt="Logo de ReadApp" />
      <!-- <a [routerLink]="['/home']">
        <h1>ReadApp</h1>
      </a> -->
      <h1>ReadApp</h1>
    </div>
    <div class="user-profile">
      <img src="/imagenes/roman.jpg" class="profile-pic" alt="Foto de perfil de Roman Riquelme" />
      <span>Roman Riquelme</span>
      <!--inserto componente menu desplegable-->
      <readapp-menu-desplegable #menu></readapp-menu-desplegable>
    </div>
    <!-- Menu de Hamburguesa -->
    <div class="menu-hamburguesa">
      <i class="fa-solid fa-bars"></i>
    </div>
</header>
<!-- <router-outlet name="header"><router-outlet/> -->