.boton_cancelar:hover{
    box-shadow: rgba(0, 0, 0, 0.1);
    
} 
.boton_guardar:hover {
    box-shadow: rgba(0, 0, 0, 0.1);
    
}

.boton_menu {
    gap: 10px;
}


/* Responsive Design */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        height: auto;
    }

    .sidebar {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
    }

    .content {
        padding: 10px;
    }

    .books-grid {
        justify-content: center;
    }

    .book-card, .add-more {
        width: 100%;
        max-width: 350px;
    }
}
