
.perfil_container {
    height: auto;
    flex-direction: column;
    gap: 10px; 
    justify-content: flex-start;
    margin: 3rem 5rem 5rem 5rem; 
    align-items: flex-start;
}

.perfil_container label {
    font-size: 1.7em;
}

.perfil_container h1 {
    margin-top: 3rem; 
    font-size: 3em; 
}

.lista_perfil {
    gap: 10px;
    flex-wrap: wrap;
    border-top: 1px solid #949090; 
    padding: 0.8rem; 
}

.carta_amigo {
    color: var(--color-letra-carta);
    width: 27rem; 
    height: 7.5rem; 
    background-color: var(--color-quinto);
    border-radius: 1rem; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0.5rem; 
    align-items: flex-start;
    padding: 0.8rem; 
    gap: 0.8rem; 
}

.carta_amigo img {
    max-width: 6.5rem; 
    border-radius: 80%; 
}

.amigo_info {
    flex-direction: column;
    margin-top: 0.2rem; 
    align-items: flex-start;
}

.amigo_info header{
    font-weight: bold;
    font-size: 1.6em;
    cursor: pointer;
}

.amigo_info h3 {
    text-align: start;
    font-size: 1.4em;
    color: #8f8a8a;
}


.icono_delete:hover {
    font-weight: bold;
    color: var(--color-primario);
}

.carta_amigo button {
    background: url('');
    background: contain;
    border: none;
    width: 3rem; 
    cursor: pointer;
    margin-left: 2.5rem; 
    margin-top: 1.5rem; 
    transition: transform 0.3s ease;
}

.carta_amigo button:hover {
    transform: scale(1.2);
}

.carta_amigo_mas button {
    background: url('');
    background: contain;
    border: none;
    width: 3rem; 
    cursor: pointer;
    margin-left: 0rem; 
    margin-top: 0rem; 
   
}

.carta_amigo_mas button:hover {
    transform: scale(1);
}


@media all and (max-width: 76.8rem) and (min-width: 40.1rem) {

    .perfil_container {
        padding: 0rem 3rem 3rem 3rem; 
        margin: 0rem;
    }

    .perfil_container label {
        font-size: 1.7em;
    }

    .perfil_container h1 {
        margin-top: 0.5rem; 
        box-sizing: border-box;
        font-size: 4em; 
    }

    .lista_perfil {
        justify-content: flex-start;
        padding: 1.5rem;
    }

    .carta_amigo {
        margin: 0.1rem; 
    }
}

@media all and (max-width: 40rem) {

    .perfil_container {
        padding: 0rem 1rem 4rem 1rem; 
        margin: 0rem;
    }

    .perfil_container label {
        font-size: 1.5em;
    }

    .perfil_container h1 {
        margin-top: 0.5rem; 
        font-size: 4em; 
        padding: 0rem 1rem 0rem 1rem;
    }

    .lista_perfil {
        padding: 1.5rem;
    }
    
    .carta_amigo {
        margin: 0.1rem; 
    }
}