
    <!-- <readapp-sidebar-perfil></readapp-sidebar-perfil> -->

    <div class="flex perfil_container">
        <h1> Amigos</h1>
        <section class="flex lista_perfil">
          <article class="flex carta_amigo">
            <img src="/imagenes/bilardo.jpg">
            <div class="flex amigo_info">
              <header> Nombre Apellido </header>
              <h3>Username</h3>
            </div>
            <button><img src="/imagenes/trash.svg"></button>
          </article>

          <article class="flex carta_amigo">
            <img src="/imagenes/bilardo.jpg">
            <div class="flex amigo_info">
              <header> Nombre Apellido </header>
              <h3>Username</h3>
            </div>
            <button><img src="/imagenes/trash.svg"></button>
          </article>

          <article class="flex carta_amigo">
            <img src="/imagenes/bilardo.jpg">
            <div class="flex amigo_info">
              <header> Nombre Apellido </header>
              <h3>Username</h3>
            </div>
            <button><img src="/imagenes/trash.svg"></button>
          </article>

          <article class="flex carta_amigo">
            <img src="/imagenes/bilardo.jpg">
            <div class="flex amigo_info">
              <header> Nombre Apellido </header>
              <h3>Username</h3>
            </div>
            <button><img src="/imagenes/trash.svg"></button>
          </article>

          <readapp-card-libro-mas [tamanio] = "'chica'"></readapp-card-libro-mas>

        </section>

        <div class="boton_container">
          <button class="boton_cancelar" type="submit">Cancelar</button>
          <button class="boton_guardar" type="submit">Guardar cambios</button>
        </div>

    </div>

