
    <div class="flex perfil_container">
        <h1> Amigos</h1>
        <section class="flex lista_perfil">
          
          @for (amigo of listaAmigos; track amigo) {
            <readapp-card-amigo [amigo]="amigo"></readapp-card-amigo>
          }

          <readapp-card-libro-mas (openModalEvent)="openModal()" [tamanio] = "'chica'"></readapp-card-libro-mas>

        </section>

        <div class="boton_container">
          <button class="boton_cancelar" (click)="cancelarCambios()"  type="submit">Cancelar</button>
          <button class="boton_guardar" (click)="guardarCambios()" type="submit">Guardar cambios</button>
        </div>
        
        <!-- Modal Amigos -->
        <readapp-modal *ngIf="isModalOpen" [isModalOpen]="isModalOpen" (close)="closeModal()"></readapp-modal>
    </div>

