.recomendaciones{
    flex-direction: column;
    width: 100%;
}

.flex {
  align-content: flex-start;
  flex-wrap: wrap;
}

@media (min-width: 401px) and (max-width: 768px)  {
    .grid-cartas{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .grid-cartas{
        margin-top: 7rem;
        grid-template-columns: 1fr;
    }
}
