<div class="modal-dialog" *ngIf="isModalOpen" (click)="$event.stopPropagation()">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Todos los libros</h5> <!-- modificar para que aparezcan los de usuario tambien -->
      <button type="button" class="close" (click)="closeModal()">&times;</button>
    </div>
    <div class="modal-body">
      <div class="libro-card">
        <readapp-card-libro  *ngFor="let libro of libros" [libro]="libro"></readapp-card-libro>
      </div>
    </div>

  </div>
  <div class="boton_container">
    <button type="button" class="boton_cancelar" (click)="cancel()">Cancelar</button>
    <button type="button" class="boton_guardar" (click)="saveChanges()">Guardar Cambios</button>
  </div>
</div>
