<main class="flex">
  <readapp-header></readapp-header>
  <div class="contenido-pagina">
    <div class="titulos">
      <br />
      <header class="contenido-pagina-header">
        <h2>{{recomendacion.titulo}}</h2>
        <img src="/imagenes/globe-x.svg" alt="Globe X" class="icono-superior-derecha-recomendacion" />
      </header>
      <h3>Libros</h3>
    </div>
    <div class="contenedor-cartas">
      @for (libro of recomendacion.lista_libros; track libro; let i = $index) {
        <readapp-card-libro [libro]="libro" [modo]=this.modo></readapp-card-libro>
      }
      @if (modoEdicion()){
        <readapp-card-libro-mas></readapp-card-libro-mas>
      }
    </div>
    <div class="titulos">
      <h3>Reseña</h3>
    </div>
    <div class="titulos textoprincipal">
      <p>
        {{recomendacion.descripcion}}
      </p>
    </div>
    <hr class="hr_estilo" />
    <div class="titulo_valoraciones">
      <h3>Valoraciones</h3>
      <img src="/imagenes/star-fill.svg" alt="Estrella valoracion" />
      <h4>{{recomendacion.promedioValoraciones()}} / 5</h4>
    </div>
    <section class="flex contenedor-valoraciones">
      @for (
        valoracion of recomendacion.valoraciones;
        track valoracion;
        let i = $index
      ) {
        <readapp-card-valoracion [valoracion]="valoracion"></readapp-card-valoracion>
      }
    </section>
    <!--FALTA AGREGAR BOTÓN + TIENE QUE SER UN COMPONENTE APARTE?-->
  </div>
</main>
