
<main class = "flex">
    <div class="flex perfil_container">
        <h1> Recomendaciones a Valorar</h1>
        <section class="flex lista_perfil">
            <section class="grid-cartas">
                @for (cardRecomendacion of cardsRecomendaciones; track cardRecomendacion) {
                    <readapp-card-recomendacion [cardRecomendacion]="cardRecomendacion"></readapp-card-recomendacion>
                }
            </section>
        </section>
        <div class="boton_container">
            <button class="boton_cancelar" type="submit">Cancelar</button>
            <button class="boton_guardar" type="submit">Guardar cambios</button>
        </div>
    </div>
</main>

