.menu {
    display: none;
    position: absolute;
    right: 0;
    top: 150%; 
    background-color: var(--color-cuarto);
    border: 0.1rem solid black;
    border-radius: 4px;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    z-index: 2000;
    width: 20rem; 
  }
  
  .menu.show {
    display: block;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-bottom: 0.1rem solid #ddd;
    color: var(--color-primario);
  }
  
  .menu ul li:hover {
    background-color: #f0f0f0;
  }
  
  .menu ul li:last-child {
    border-bottom: none;
  }
  