<article class="card-recomendacion">
    <header class="flex">
      <h3> Recomendacion Loca </h3>
      <button class="boton-rec">
        <img src="/imagenes/heart.svg" width="20px" height="18px" />
      </button>
    </header>
    <section class="card-content">
      <div class="comentario">
        <p>"Es un conjunto de libros re copados que se puede
          leer en familia. Muy recomendable para niños"
        </p>
      </div>
      <section class="flex wrap lista-libros">
        <div class="flex wrap icono-texto">
          <img class="icono-rec" src="/imagenes/bookmark.svg" />
          Cuidado con el perro
        </div>
        <div class="flex wrap icono-texto">
          <img class="icono-rec" src="/imagenes/bookmark.svg" />
          Cuidado con el perro
        </div>
        <div class="flex wrap icono-texto">
          <img class="flex wrap icono-rec" src="/imagenes/bookmark.svg" />
          Cuidado con el perro
        </div>
        <div class="flex wrap icono-texto">
          <img class="icono-rec" src="/imagenes/bookmark.svg" />
          Cuidado con el perro
        </div>
      </section>
      <section class="flex resumen">
        <div class="flex wrap icono-texto">
          <img class="icono-rec" src="/imagenes/star.svg" />
          4.5
        </div>
        <div class="flex wrap icono-texto">
          <img class="icono-rec" src="/imagenes/libros.svg" />
          4 libros
        </div>
        <div class="flex wrap icono-texto">
          <img class="icono-rec" src="/imagenes/clock.svg" />
          8hs.
        </div>
      </section>
    </section>
    <div class="boton_container">
      <button class="boton_guardar"> Ver más </button>
    </div>
  </article>
