<article class="card-recomendacion">
    <header class="flex">
      <h3> {{recomendacion.titulo | cortarPalabra: 23}} </h3>
      @if(puedeEditar){
        <div class="flex">
          <button [routerLink]="['/recomendacion', recomendacion.id,'edicion']" class="boton-rec">
            <img src="/imagenes/pencil-simple.svg" width="20px" height="18px" />
          </button>
          <button class="boton-rec">
            <img src="/imagenes/trash.svg" width="20px" height="18px" />
          </button>
        </div>
      }
      @else {
        <button (click)="aValorar()"  class="boton-rec">
          @if(corazonCliqueado){ <img src="/imagenes/heart-fill.svg" /> }
          @else { <img src="/imagenes/heart.svg" /> }
        </button>
      }
    </header>
    <section class="card-content">
      <div class="comentario">
        <p>{{recomendacion.descripcion}}</p>
      </div>
      <section class="lista-libros">
        @for (libro of recomendacion.lista_libros.slice(0,4); track libro; let i = $index){
          <div class="flex icono-texto">
            <img class="icono-rec" src="/imagenes/bookmark.svg" />
              {{recomendacion.lista_libros[i].titulo_libro| cortarPalabra: 20}}
          </div>
        }
      </section>
      <section class="flex resumen">
        <div class="flex wrap icono-texto">
          <img class="icono-rec" src="/imagenes/star.svg" />
          {{recomendacion.promedioValoraciones()}}
        </div>
        <div class="flex wrap icono-texto">
          <img class="icono-rec" src="/imagenes/libros.svg" />
          {{recomendacion.lista_libros.length}}
        </div>
        <div class="flex wrap icono-texto">
          <img class="icono-rec" src="/imagenes/clock.svg" />
          {{recomendacion.tiempoLectura}}
        </div>
      </section>
    </section>
    <div class="boton_container">
      <button [routerLink]="['/recomendacion', recomendacion.id,'detalle']" class="boton_guardar"> Ver más </button>
    </div>
  </article>
