* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
  body {
    min-height: 100vh;
    background: radial-gradient(ellipse, var(--color-beige) 30%, var(--color-marron) 80%);

    background-position: center; 
    background-size: 100% 100%;
    animation: color 8s ease-in-out infinite;
  }
  @keyframes color {
    0% {
      background-size: 100% 100%;
    }
    50% {
      background-size: 200% 200%;
    }
    100% {
      background-size: 100% 100%;
    }
  }
  
  form {
    flex-direction: column;
    width: 38rem;
    height: 28rem;
    margin: 1rem;
    background-color: white;
    border-color: white;
    border-radius: 1.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .title-logIn {
    font-size: 1.5rem;
    color: var(--color-marron);
  }
  
  .title-logIn img {
    width: 4rem;
    padding: 0.2rem;
  }
  
  .title-input {
    display: flex;
    font-size: small;
  }
  
  .label, span {
    color: var(--color-bordo);
  }
  
  .obligatorio-input {
    color: var(--color-bordo);
    font-size: 15px;
  }
  
  .container {
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    font-size: 1.4rem;
  }
  
  .flex.container input{
    height: 2.5rem;
    padding-right: 2.5rem;
  }

  .input-container {
    position: relative; /* Contenedor relativo para el icono */
  }  

  .ver_contrasenia{
    position: absolute;
    bottom: 0.4em;
    right: 0.4em;
    pointer-events: none;
  }
  .error-message {
    color: var(--color-bordo);
    font-size: 12px;
  }

  .boton_container{
    align-items: center;
    border-top: 0;
  }
  .boton_container button{
    margin:0;
    width: 100%;
  }

  .validacionMail{
    height: 100%;
    font-size: 1.5rem;
}
  
  @media screen and (max-width: 400px) {
    body {
      background: white;
      background-size: none;
    }
  
    form {
      box-shadow: none;
    }
  }
  