<readapp-header></readapp-header> 

  <nav class="info_usuario">
      <div class="fotoPerfil">
        <img src="/imagenes/roman.jpg" class="imagen_perfil" />
        <label class="nombre_perfil">Roman Riquelme</label>
      </div>

      <ul class="submenu_perfil">
        <li class="boton_menu">
          <img class="icono" src="/imagenes/info.svg" />
          <a href="this"><strong>Informacion</strong></a>
        </li>
        <li class="boton_menu">
          <img class="icono" src="/imagenes/amigos.svg" />
          <a href="">Amigos</a>
        </li>
        <li class="boton_menu">
          <img class="icono" src="/imagenes/libros.svg" />
          <a href="">Libros leidos</a>
        </li>
        <li class="boton_menu">
          <img class="icono" src="/imagenes/librosaleer.svg" />
          <a href="">Libros a leer</a>
        </li>
        <li class="boton_menu">
          <img class="icono" src="/imagenes/valorarReco.svg" />
          <a href="">Recomendaciones a valorar</a>
        </li>
      </ul>
  </nav>
