.notfound {
    text-align: center;
}

.notfound h1 {
    font-size: 100px;
    font-weight: bold;
    background: linear-gradient(135deg, var( --color-bordo), var(--color-fondo));
    background-clip: text;
    color: transparent;
}

.notfound h2 {
    font-size: 24px;
    color: #666;
}

.notfound p {
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
}

.notfound button {
    all: unset;
    text-decoration: none;
    background-color: var(--color-marron);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}